<div class="order-container container">
  <h2>Shopping Cart</h2>
  <div  *ngIf="cartItems.length > 0">
    <form class="form-section section">
      <h3>Insert neccesary data</h3>
      <div>
        <input placeholder="First name" formControlName="firstName">
        <div *ngIf="userInfoForm.get('firstName')?.invalid || userInfoForm.get('firstName')?.touched">
          <span *ngIf="userInfoForm.get('firstName')?.hasError('required')">First name is required.</span>
          <span *ngIf="userInfoForm.get('firstName')?.hasError('minlength')">Must be at least 2 characters long.</span>
        </div>
      </div>
      <div>
        <input placeholder="Last name" formControlName="lastName">
        <div *ngIf="userInfoForm.get('lastName')?.invalid || userInfoForm.get('lastName')?.touched">
          <span *ngIf="userInfoForm.get('lastName')?.hasError('required')">Last name is required.</span>
          <span *ngIf="userInfoForm.get('lastName')?.hasError('minlength')">Must be at least 2 characters long.</span>
          <span *ngIf="userInfoForm.get('lastName')?.hasError('maxlength')">Must be no longer 60 characters.</span>
        </div>
      </div>
      <div>
        <input placeholder="Email" formControlName="email">
        <div *ngIf="userInfoForm.get('email')?.invalid && userInfoForm.get('email')?.touched">
          <span *ngIf="userInfoForm.get('email')?.hasError('required')">Email is required.</span>
          <span *ngIf="userInfoForm.get('email')?.hasError('email')">Please enter a valid email address.</span>
        </div>
      </div>
      <div>
        <input placeholder="Phone number" formControlName="phoneNumber">
        <div *ngIf="userInfoForm.get('phoneNumber')?.invalid && userInfoForm.get('phoneNumber')?.touched">
          <span *ngIf="userInfoForm.get('phoneNumber')?.hasError('required')">Phone number is required.</span>
          <span *ngIf="userInfoForm.get('phoneNumber')?.hasError('pattern')">Please enter a valid phone number (7 digits).</span>
        </div>
      </div>
      <div>
        <input placeholder="Address" formControlName="address">
        <div  *ngIf="userInfoForm.get('address')?.invalid || userInfoForm.get('address')?.touched">
          <span *ngIf="userInfoForm.get('address')?.hasError('required')">Address is required.</span>
          <span *ngIf="userInfoForm.get('address')?.hasError('minlength')">Must be at least 2 characters long.</span>
          <span *ngIf="userInfoForm.get('address')?.hasError('maxlength')">Must be no longer 60 characters.</span>
        </div>
      </div>

    </form>
    <ul>
      <li *ngFor="let item of cartItems">
        <div>
          <p>Product: {{ item.name }}</p>
          <p>Price: {{ item.price | currency }}</p>
          <p>Quantity:
            <button (click)="decreaseQuantity(item)">-</button>
            {{ item.quantity }}
            <button (click)="increaseQuantity(item)">+</button>
          </p>
          <button (click)="removeFromCart(item)">Remove</button>
        </div>
      </li>
    </ul>
    <p>Total price: {{ totalPrice | currency}}</p>
    <button (click)="submitOrder()">Submit Order</button>
  </div>

  <div *ngIf="cartItems.length === 0">
    <p>Your cart is empty.</p>
  </div>
</div>
